.widget-settings-colourpicker .widget-settings-colourpicker-caption {
  display: inline-block;
}
.widget-settings-colourpicker .widget-settings-colourpicker-caption + input {
  float: right;
}
.widget-settings-colourpicker .optionConfig {
  display: inline-block;
  float: right;
  color: #97abcd;
}
.widget-settings-colourpicker .optionConfig div {
  display: inline-block;
  margin: 0 3px;
}
.widget-settings-colourpicker .optionConfig .fieldContainer {
  display: inline-block;
  border: solid 1px #cccccc;
  padding: 0px 7px;
  border-radius: 10px;
  background-color: #ffffff;
}
.widget-settings-colourpicker .optionConfig .fieldContainer input {
  border: none;
  margin: 5px;
}
.widget-settings-colourpicker .optionConfig .fieldContainer input.small {
  width: 30px;
  text-align: right;
}
.widget-settings-colourpicker .optionConfig .fieldContainer input.small.duration {
  padding-left: 8px;
}
.widget-settings-colourpicker .optionConfig .fieldContainer input.small.duration ~ .durationLabel {
  padding-right: 4px;
}
