.widget-settings-colour-palette {
  display: flex;
  justify-content: space-between;
}

.widget-settings-colour-palette-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 0;
  border-radius: 5px;
  background: #a5a5a5;
  padding-bottom: 5px;
  width: 170px;
}

.colour-palette-colour-container {
  margin-top: 5px;
  width: 30px;
}

.colour-palette-colour {
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
+ .colour-palette-colour {
  margin-left: 5px;
}
.colour-palette-colour-selected {
  border: 2px solid #000000;
  width: 12px;
  height: 12px;
}
