.widget-settings-datepicker {
  display: flex;
}
.widget-settings-datepicker .widget-settings-datefield-caption {
  display: inline-block;
}
.widget-settings-datepicker .textBox.date {
  display: inline-block;
  margin-left: auto;
}
.widget-settings-datepicker .textBox.date .mandatoryContainer {
  padding: 0 !important;
}
.widget-settings-datepicker .textBox.date .mandatoryContainer .containerContent {
  height: 40px !important;
  line-height: 40px !important;
}
.widget-settings-datepicker .textBox.date .mandatoryContainer .containerContent .inputField > input {
  height: 20px !important;
  padding: 0 !important;
  margin-top: 0 !important;
}
