.widget-settings-integer {
  display: flow-root;
}
.widget-settings-integer .widget-settings-integer-caption {
  display: inline-block;
}
.widget-settings-integer .integer-component {
  display: inline-block;
  float: right;
}
.widget-settings-integer .integer-component .textInput {
  height: 40px;
  line-height: 40px;
  margin: 0;
}
.widget-settings-integer .integer-component .textInput .inputField {
  width: 150px;
}
.widget-settings-integer .integer-component .textInput .inputField input {
  height: 20px;
}
.widget-settings-integer .integer-component .textInput ~ .error {
  float: none;
  display: table-cell;
}
.widget-settings-integer .integer-component.textBox {
  margin: 0;
}
.widget-settings-integer .integer-component.textBox .mandatoryContainer {
  padding: 0;
}
