.widget-settings-radioselect {
  display: flex;
}
.widget-settings-radioselect .widget-settings-radioselect-caption {
  display: inline-block;
}
.widget-settings-radioselect .selectSingle {
  display: inline-block;
  margin-left: auto;
}
.widget-settings-radioselect .selectSingle .mandatoryContainer {
  padding: 0 !important;
}
.widget-settings-radioselect .selectSingle .mandatoryContainer .contentContainer {
  margin: 0 10px !important;
}
