.widget-settings-sortdropdown .widget-settings-sortdropdown-caption {
  display: inline-block;
}
.widget-settings-sortdropdown .optionConfig {
  display: inline-block;
  float: right;
  margin-top: -6px;
}
.widget-settings-sortdropdown .optionConfig .dropDown {
  max-width: 400px;
  min-width: 170px;
  width: auto;
}
