.widget-settings-statusselector {
  display: flex;
}
.widget-settings-statusselector .widget-settings-statusselector-caption {
  margin-bottom: 20px;
  display: inline-block;
}
.widget-settings-statusselector .status-list {
  display: inline-block;
  margin-left: auto;
}
.widget-settings-statusselector .statusSelector {
  display: flex;
  padding: 4px;
  user-select: none;
}
.widget-settings-statusselector .statusSelector .statusButton {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  /*margin-left: 12px;*/
  border: 1px solid #d6d5d5;
  text-align: center;
  background: #ffffff;
  color: #F4F5F7;
}
.widget-settings-statusselector .statusSelector .statusButton img {
  display: none;
}
.widget-settings-statusselector .statusSelector .statusButton.selected {
  color: #ffffff;
  border: 1px solid #7d68fb;
  background: #7d68fb;
}
.widget-settings-statusselector .statusSelector .statusButton.selected img {
  display: inline-block;
}
.widget-settings-statusselector .statusSelector .statusBlob {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin: 0 12px;
}
.widget-settings-statusselector .statusSelector .statusLabel {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
