.widget-settings-stringsingle .widget-settings-stringsingle-caption {
  display: inline-block;
}
.widget-settings-stringsingle .optionConfig {
  display: inline-block;
  float: right;
  color: #97abcd;
}
.widget-settings-stringsingle .optionConfig .fieldContainer {
  display: inline-block;
  border: solid 1px #cccccc;
  padding: 0px 7px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 170px;
}
.widget-settings-stringsingle .optionConfig .fieldContainer div {
  display: inline-block;
  margin: 0 3px;
}
.widget-settings-stringsingle .optionConfig .fieldContainer input {
  border: none;
  margin: 5px;
  width: 90%;
}
