.widget-item-text-container {
  width: 100%;
}
.widget-item-text-container::after {
  display: block;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 1px;
  content: "";
}
.widget-item-text-container.widget-item-text-container-focused::after {
  display: block;
  transform: scaleX(1);
  margin-bottom: 0;
  border-bottom: solid 1px #7d68fb;
  content: "";
}

.widget-item-text {
  outline: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  overflow: auto;
  resize: none;
  width: 95%;
  height: 38px;
  line-height: 38px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}
