.dashboard-add-screen {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 800px;
}

.dashboard-add-screen-popout {
  position: absolute;
  transition: opacity 350ms ease-in-out 100ms;
  opacity: 1;
  z-index: 5;
}
.dashboard-add-screen-popout-transparent {
  transition: opacity 350ms ease-in-out 100ms;
  opacity: 0;
}

.dashboard-add-screen-search-bar {
  margin-bottom: 10px;
  margin-left: 5px;
  padding-bottom: 10px;
}

.dashboard-add-screen-widget-container {
  overflow: scroll;
}

.dashboard-add-screen-widgets {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-add-screen-widget {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgrey;
  cursor: pointer;
  padding: 5px;
  min-width: 200px;
}

.dashboard-add-screen-widget-img-container {
  display: flex;
  border: solid 1px #B4C6E8;
  border-radius: 10px;
  background-color: white;
  width: 240px;
  height: 160px;
}

.dashboard-add-screen-widget-img {
  margin: auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.dashboard-add-screen-widget-overlayed-container {
  position: relative;
  border: solid 1px #B4C6E8;
  border-radius: 10px;
  background-color: white;
  width: 240px;
  height: 160px;
}
.dashboard-add-screen-widget-overlayed-container .dashboard-add-screen-widget-overlayed-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.dashboard-add-screen-widget-add-button {
  margin-top: 15px;
  margin-bottom: 10px;
}

.dashboard-add-screen-widget-description {
  margin: 5px 0;
  height: 40px;
  font-size: 14px;
}

.dashboard-add-screen-search-bar-input {
  margin-top: 10px;
  outline: none;
  border: solid 1px #e5e7e8;
  border-radius: 30px;
  padding: 10px 20px;
  width: 400px;
  height: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10pt;
  box-sizing: border-box;
}
.dashboard-add-screen-search-bar-input:focus {
  box-shadow: 0 0 0 1000px white inset, 0 0 2px 1px #7d68fb;
}

.widget-add-screen-popout {
  max-height: 95%;
}
