.change-tracker {
  display: flex;
  margin: auto auto auto 0;
  margin-left: 15px;
}

.change-tracker-spinner {
  width: 25px;
  height: 25px;
}

.change-tracker-text {
  line-height: 25px;
  color: #97AACE;
  font-size: 15px;
}

.error-text {
  color: #fc5c87;
}
