.dashboard-container {
  margin-left: -8px;
  background-color: #dedede;
  height: calc(100vh - 101px);
  overflow: auto;
}

.engineHolder {
  background-color: #dedede !important;
}

.engine {
  background-color: #dedede !important;
}

.widget-container {
  border-radius: 10px;
  box-shadow: none;
}
.widget-container > div {
  border-radius: 10px;
}
.widget-container.widget-container-new {
  transition: box-shadow 300ms ease-in-out, 250ms;
  box-shadow: 0 0 50px 1px #7d68fb;
}

.widget-error-body {
  border-radius: 10px;
}

.widget-settings-panel {
  min-width: 750px;
  min-height: 400px;
}
.widget-settings-panel .widget-settings-panel-container {
  margin: 40px;
}
.widget-settings-panel .widget-settings-panel-container .widget-settings-panel-elements-container {
  padding: 0 10px;
  min-height: 300px;
  max-height: 550px;
  overflow: scroll;
}
.widget-settings-panel .widget-settings-panel-container .widget-settings-panel-elements-container > div {
  margin: 20px 0;
}
.widget-settings-panel .widget-settings-panel-buttons {
  display: flex;
  justify-content: space-evenly;
}
.widget-settings-panel .widget-settings-panel-buttons .widget-settings-panel-button {
  width: 200px;
}
.widget-settings-panel .widget-settings-panel-buttons .widget-settings-panel-button.disabled {
  cursor: not-allowed;
}

.widget-popout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  max-height: 600px;
}
.widget-popout-container .popout {
  text-align: center;
}
.widget-popout-container .popout div {
  margin: 10px;
}
.widget-popout-container .popout div div {
  margin: 0;
}
.widget-popout-container .popout .list-render {
  min-width: 450px;
  max-width: 600px;
}
.widget-popout-container .popout .list-render .warningMessage .body {
  padding-left: 130px;
}
.widget-popout-container .popout .button {
  margin: auto;
  width: 50%;
}
