.dashboard-delete-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 400px;
  height: 200px;
}

.dashboard-delete-screen-button {
  margin: 0 auto;
  width: 75%;
}

.button-warning {
  background-color: #ff2a2a !important; // Overwriting regular button colours, sorry
}
