.dropDown {
  display: inline-block;
  height: 36px;
  width: 204px;
  background-color: #fff;
  border-radius: 18px;
  font-size: 16px;
  line-height: 36px;
  box-sizing: border-box;
  border: solid 1px #c7d1e0;
  text-align: left;
  vertical-align: middle;
}
.dropDown .dropDownContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  margin-top: -2px;
}
.dropDown .dropDownContainer .dropDownTitle {
  display: inline-block;
  color: #7d68fb;
  margin-right: 0.5em;
}
.dropDown .dropDownContainer .dropDownMenu {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.dropDown .dropDownContainer .dropDownMenu .selectedOption {
  position: relative;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.dropDown .dropDownContainer .dropDownMenu .selectedOption:after {
  position: absolute;
  content: url("../images/core/icon_arrow_down.png");
  right: 0;
  height: 1em;
  width: 1em;
  transition: transform 0.5s;
  transform-origin: 50% 120%;
}
.dropDown .dropDownContainer .dropDownMenu .selectedOption.selected:after {
  transform: rotate(180deg);
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu {
  position: absolute;
  right: -18px;
  z-index: 1;
  box-sizing: border-box;
  top: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  text-align: center;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0em;
  box-sizing: border-box;
  z-index: 0;
  border: 7px solid black;
  border-color: transparent transparent white white;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -12px 12px 24px 8px rgba(0, 0, 0, 0.07);
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popoutBackdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background: transparent;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popOutMenuContent .headingItem {
  line-height: 52px;
  height: 52px;
  color: #2a3c59;
  border-bottom: solid 1px #e4eaf4;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popOutMenuContent .popOutMenuContainer {
  list-style-type: none;
  min-width: 180px;
  padding: 0 12px;
  margin: 0;
  max-height: 350px;
  overflow-y: auto;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popOutMenuContent .popOutMenuContainer .optionItem {
  width: 100%;
  white-space: nowrap;
  line-height: 52px;
  height: 52px;
  border-bottom: solid 1px #e4eaf4;
  color: #97abcd;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popOutMenuContent .popOutMenuContainer .optionItem:last-child {
  border-bottom: none !important;
}
.dropDown .dropDownContainer .dropDownMenu .popOutMenu .popOutMenuContent .popOutMenuContainer .optionItem:hover {
  background-color: #f4f5f7;
}

.dropDown.small {
  width: 140px;
}
.dropDown.small .popOutMenuContainer {
  min-width: 116px !important;
}
.dropDown.small .popOutMenuContainer .optionItem {
  line-height: 31px !important;
  height: auto !important;
}

.dropDown.medium {
  width: 170px;
}
.dropDown.medium .popOutMenuContainer {
  min-width: 126px !important;
}
.dropDown.medium .popOutMenuContainer .optionItem {
  line-height: 31px !important;
  height: auto !important;
}
