.top-bar {
  position: relative;
}

.top-bar-main {
  position: relative;
  transition: margin-bottom 300ms ease-in-out;
  z-index: 4;
  margin: 0 -15px 15px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  height: 70px;
}
.top-bar-main.top-bar-main-edit-mode {
  margin-bottom: 30px;
}
.top-bar-main .top-bar-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}
.top-bar-main .top-bar-holder .status-holder {
  display: flex;
  flex: 2;
  height: 100%;
}
.top-bar-main .top-bar-holder .status-holder .status-element {
  float: left;
  margin: 4px 0 0;
  border-right: 1px solid #d6d5d5;
  padding: 10px 20px 0;
  min-width: 50px;
  max-width: 400px;
  height: 52px;
  color: #97abcd;
  font-size: 16px;
  overflow-y: hidden;
}
.top-bar-main .top-bar-holder .status-holder .status-element.expanded {
  padding: 0 20px;
  height: 62px;
  font-size: 12px;
}
.top-bar-main .top-bar-holder .status-holder .status-element.noborder {
  border-right: 0;
}
.top-bar-main .top-bar-holder .status-holder .status-element.nopadding {
  padding: 10px 0 0 20px;
}
.top-bar-main .top-bar-holder .top-bar-buttons-container {
  padding-right: 10px;
  height: 100%;
}
.top-bar-main .top-bar-holder .top-bar-buttons-container .filter-container {
  display: inline-block;
  position: relative;
  padding: 10px 5px;
  width: 60px;
  height: 100%;
  box-sizing: border-box;
}
.top-bar-main .top-bar-holder .top-bar-buttons-container .filter-container .top-bar-button {
  position: relative;
  border-radius: 24px;
  background-color: #7d68fb;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.top-bar-main .top-bar-holder .top-bar-buttons-container .filter-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

.top-bar-edit-mode {
  position: absolute;
  bottom: 22px;
  left: -15px;
  transition: height 200ms ease-in-out, bottom 200ms ease-in-out, opacity 200ms ease-in-out;
  opacity: 0;
  z-index: 3;
  background-color: #f8c400;
  padding-left: 15px;
  width: calc(100% + 15px);
  height: 0;
  line-height: 23px;
  color: #778899;
  font-size: 15px;
}
.top-bar-edit-mode.top-bar-edit-mode-show {
  bottom: -22px;
  opacity: 1;
  height: 22px;
}
