.widget {
  width: 100%;
  height: 100%;
}

.widget-error-body-container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.widget-error-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
}

.widget-error-title {
  font-size: 20px;
}

.widget-error-message {
  margin: 15px;
  overflow: scroll;
  text-align: center;
  white-space: pre-line;
  font-size: 17px;
}

.widget-error-icon {
  margin-bottom: 12px;
}

.widget-icon {
  position: absolute;
  top: 5px;
  opacity: 0.4;
  cursor: pointer;
  width: 15px;
  height: 15px;
  mix-blend-mode: difference;
}

.widget-icon-close {
  right: 5px;
}

.widget-icon-options {
  right: 23px;
}

.react-grid-item > .react-resizable-handle {
  right: 5px;
  bottom: 5px;
}
.react-grid-item > .react-resizable-handle::after {
  opacity: 0.4;
  z-index: 2;
  border-radius: 0 0 3px;
  border-color: #ffffff;
  mix-blend-mode: difference;
}
