.GoogleyEyes {
  width: 100%;
  height: 100%;
  background: white;
  display: inline-grid;
}
.GoogleyEyes .parent {
  max-height: 80%;
  text-align: center;
  display: inline-grid;
  position: relative;
  align-self: center;
}
.GoogleyEyes .eyesParent {
  width: 80%;
  height: 80%;
  max-width: 400px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.GoogleyEyes .eyesParent .eyeParent {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.GoogleyEyes .eyesParent .eyeParent object {
  pointer-events: none;
}
.GoogleyEyes .eyesParent .eyeParent .svgObj {
  fill: blue;
  stroke: blue;
}
.GoogleyEyes .eyesParent .eyeParent .eyeRing {
  max-width: 100%;
  max-height: 100%;
}
.GoogleyEyes .eyesParent .eyeParent .eyePupil {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
}
.GoogleyEyes .mouthParent {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
}
.GoogleyEyes .mouthParent .mouth {
  width: 25%;
  padding-top: 6%;
}
