.widget-postit {
  width: 100%;
  height: 100%;
}

.widget-postit-content {
  display: block;
  outline: none;
  border: 0;
  background: none;
  padding: 10px 5px;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  resize: none;
  overflow: scroll;
  white-space: pre-wrap;
}

.widget-postit-editing::placeholder {
  color: inherit;
}

.widget-postit-viewing {
  cursor: text;
}
