.widget-todo {
  background-color: #ffffff;
  transition-delay: 1s;
}

.widget-todo-container {
  padding: 5%;
  width: 90%;
  height: calc(100% - 60px);
}

.widget-todo-title {
  outline: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  overflow: auto;
  resize: none;
  border-bottom: solid 1px #B4C6E8;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}
.widget-todo-title.widget-todo-title-focused {
  border-bottom: 0;
}

.widget-todo-title-container:after {
  display: block;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 1px;
  content: "";
}
.widget-todo-title-container.widget-todo-title-container-focused:after {
  display: block;
  transform: scaleX(1);
  margin-bottom: 0;
  border-bottom: solid 2px #7d68fb;
  content: "";
}

.widget-todo-item-container {
  margin-top: 5px;
  margin-bottom: 20px;
  height: calc(100% - 25px);
  overflow-y: scroll;
}
.widget-todo-item-container::-webkit-scrollbar {
  width: 5px;
}

.widget-todo-item {
  display: flex;
  position: relative;
}
.widget-todo-item .widget-todo-item-checkbox {
  display: block;
  margin: auto 10px auto 5px;
}
.widget-todo-item .widget-todo-item-delete {
  display: none;
}
.widget-todo-item:hover .widget-todo-item-delete-container {
  position: absolute;
  top: 25%;
  right: 5px;
  border-radius: 25px;
  background-color: #B4C6E8;
  cursor: pointer;
  width: 17px;
  height: 17px;
  user-select: none;
}
.widget-todo-item:hover .widget-todo-item-delete-container .widget-todo-item-delete {
  display: block;
  margin-top: 1px;
  margin-left: 5px;
  line-height: 11px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.to-do-tick-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  user-select: none;
}
.to-do-tick-box .to-do-tick {
  text-align: center;
}
.to-do-tick-box .to-do-tick .to-do-tick-option-button {
  border: 1px solid #d6d5d5;
  border-radius: 4px;
  background: #ffffff;
  width: 19px;
  height: 19px;
  text-align: center;
  color: #F4F5F7;
}
.to-do-tick-box .to-do-tick .to-do-tick-option-button img {
  display: block;
  visibility: hidden;
}
.to-do-tick-box .to-do-tick .to-do-tick-option-button.selected {
  border: 1px solid #7d68fb;
  background: #7d68fb;
  color: #ffffff;
}
.to-do-tick-box .to-do-tick .to-do-tick-option-button.selected img {
  display: block;
  position: relative;
  top: 18%;
  left: 15%;
  visibility: visible;
}

.widget-todo-add-item {
  display: flex;
  margin-top: 8px;
  cursor: pointer;
  color: #B4C6E8;
}
.widget-todo-add-item .widget-todo-add-item-plus {
  margin-right: 15px;
  margin-left: 2px;
  line-height: 25px;
  font-size: 35px;
}
.widget-todo-add-item .widget-todo-add-item-text {
  margin-top: 1px;
}
